<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
      <ion-header id="top" >
        <ion-toolbar>
          <ion-title>Bienvenido</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>


        <ion-list>
          <ion-item><ion-icon name="card-outline"></ion-icon> <ion-button replaceUrl="true"  (click)="irAPerfil()" type="submit" >Perfil</ion-button> </ion-item>
          <ion-item><ion-icon name="card-outline"></ion-icon><ion-button replaceUrl="true"  (click)="irAPedidos()"  type="submit" >Tareas Asignadas</ion-button> </ion-item>

          <ion-item><ion-icon name="card-outline"></ion-icon><ion-button replaceUrl="true"  (click)="iraAyuda()" type="submit" >Ayuda</ion-button> </ion-item>
  <ion-item><ion-icon name="card-outline"></ion-icon><ion-button replaceUrl="true"  (click)="iraAyuda()" type="submit" >Descargar PDF</ion-button> </ion-item>

        </ion-list>


      </ion-content>
      <ion-button  type="submit" (click)="logout()"  color="light" expand="block">Cerrar Sesion</ion-button>
    </ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
